<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
<link type="text/css" rel="stylesheet" href="css/annotorious.css" />
<script type="text/javascript" src="annotorious.min.js"></script>
</head>
<body>

<h1>Leaf Annotation</h1>
this is a test page
<p> <%= count %></p>

<img src="leaf.jpg" class="annotatable" />


<form action="http://localhost:3000/articles/add" method="post" enctype="multipart/form-data">
  First name: <input type="text" name="title"><br>
  Last name: <input type="text" name="author"><br>
  <input type="submit" value="Submit">
</form>

</body>
</html>
